@page "/AddNewProduct"
@using Microsoft.AspNetCore.Authorization
@using WiffyManagementWithAuthentication.Data
@inject WiffyManagementWithAuthentication.Services.ProductService productService
@inject NavigationManager NavigationManager
@attribute [Authorize]
@rendermode InteractiveServer

<h3>Add New Product</h3>

<hr/>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <lable for="ProductFirstName" class="control-label">Product First Name</lable>
                <input form="ProductFirstName" class="form-control" @bind="product.ProductFirstName" />
            </div>
            <div>
                <lable for="ProductMiddleName" class="control-label">Product Middle Name</lable>
                <input form="ProductMiddleName" class="form-control" @bind="product.ProductMiddleName" />
            </div>
            <div class="for-group">
                <lable for="ProductLastName" class="control-label">Product Last Name</lable>
                <input form="ProductLastName" class="form-control" @bind="product.ProductLastName" />
            </div>
            <div class="for-group">
                <lable for="ProductTitle" class="control-label">Product Title</lable>
                <input form="ProductTitle" class="form-control" @bind="product.ProductTitle" />
            </div>
            <div class="for-group">
                <lable for="ProductDescription" class="control-label">Product Description</lable>
                <input form="ProductDescription" class="form-control" @bind="product.ProductDescription" />
            </div>
            <div class="for-group">
                <lable for="ProductCountry" class="control-label">Product Country</lable>
                <input form="ProductCountry" class="form-control" @bind="product.ProductCountry" />
            </div>
            <div class="for-group">
                <lable for="ProductPhone" class="control-label">Product Phone</lable>
                <input form="ProductPhone" class="form-control" @bind="product.ProductPhone" />
            </div>
        </div>
    </div>
    <div />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                    <input type="button" class="btn btn-primary" @onclick="@CreateNewProductDetails" value="Save Product"/>
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel"/>
            </div>
        </div>
    </div>
</form>

@code {
    Product product = new Product();
    protected async void CreateNewProductDetails()
    {
        await productService.AddNewProduct(product);
        NavigationManager.NavigateTo("Products");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("Products");
    }
}
